.concept-div{
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 143, 98, 0.8);
}

h1{
    text-align: center;
    color: black;
}

p{
    text-align: justify;
    font-size: large;
    font-weight: bold;
}

li{
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding: 0.2rem;
}
